.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.root1{
  /* background-image: url('./Images/background11.jpg') !important; */
  /* background-size: 100% 100%; */
  min-height: 100vh;
  
backdrop-filter: contrast(.8);
  width: 99vw;
  padding-top: 1px;
  background-position: center !important;
  margin-top: 0px !important;
  /* background-size: cover; */
}
.fa-star{
  color:  yellow;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
